amqp==5.1.1
asgiref==3.7.2
billiard==3.6.4.0
celery==5.1.2
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
defusedxml==0.7.1
Django==3.2.7
grab==0.6.41
kombu==5.3.1
mongoengine==0.23.1
prompt-toolkit==3.0.38
psycopg2==2.9.1
pymongo==3.13.0
python-dotenv==1.0.0
pytils==0.4.1
pytz==2023.3
redis==3.5.3
selection==0.0.21
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.0
user-agent==0.1.10
vine==5.0.0
wcwidth==0.2.6
weblib==0.1.30
