{% load static %}

<html lang="en">
<head>
  <title>SoleSeeker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/authentification.css' %}">
</head>
<body>
  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
            <label for="reg-log"></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Log In</h4>
                      <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="id_username" class="auth_label"></label>
                          <input type="text" class="form-style" placeholder="Username" name="username" id="id_username" required>
                          <i class="input-icon uil uil-at"></i>
                          {% if form.username.errors %}
                            <p class="text-danger">{{ form.username.errors }}</p>
                          {% endif %}
                        </div>
                        <div class="form-group mt-2">
                          <label for="id_password" class="auth_label"></label>
                          <input type="password" class="form-style" name="password" placeholder="Password" id="id_password" required>
                          <i class="input-icon uil uil-lock-alt"></i>
                          {% if form.password.errors %}
                            <p class="text-danger">{{ form.password.errors }}</p>
                          {% endif %}
                        </div>
                        <button type="submit" class="btn mt-4">Login</button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card-back">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-3 pb-3">Sign Up</h4>
                      <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="id_username" class="auth_label"></label>
                          <input type="text" class="form-style" placeholder="Username" name="username" id="id_username" required>
                          <i class="input-icon uil uil-user"></i>
                          {% if form.username.errors %}
                            <p class="text-danger">{{ form.username.errors }}</p>
                          {% endif %}
                        </div>
                        <div class="form-group mt-2">
                          <label for="id_email" class="auth_label"></label>
                          <input type="email" class="form-style" placeholder="Email" id="id_email" name="email" required>
                          <i class="input-icon uil uil-at"></i>
                          {% if form.email.errors %}
                            <p class="text-danger">{{ form.email.errors }}</p>
                          {% endif %}
                        </div>
                        <div class="form-group mt-2">
                          <label for="id_password1" class="auth_label"></label>
                          <input type="password" class="form-style" placeholder="Password" id="id_password1" name="password1" required>
                          <i class="input-icon uil uil-lock-alt"></i>
                          {% if form.password1.errors %}
                            <p class="text-danger">{{ form.password1.errors }}</p>
                          {% endif %}
                        </div>
                        <div class="form-group mt-2">
                          <label for="id_password2" class="auth_label"></label>
                          <input type="password" class="form-style" placeholder="Confirm Password" id="id_password2" name="password2" required>
                          <i class="input-icon uil uil-lock-alt"></i>
                          {% if form.password2.errors %}
                            <p class="text-danger">{{ form.password2.errors }}</p>
                          {% endif %}
                        </div>
                        <button type="submit" class="btn mt-4">Register</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
